/* @font-face {
  font-family: "Avenir Next LT Pro";
  src: url("https://geniorama.site/demo/sts-corporativo/wp-content/themes/generatepress_child/assets/fonts/AvenirNextLTPro-Regular.eot") format('embedded-opentype');
  font-weight: normal;
} */

body{
    font-family: "Avenir Next LT Pro" !important;
    overflow-x: hidden;
}

html{
  overflow-x: hidden;
}

/* Header */
.header-elements{
  position: absolute !important;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
}

.header-elements__bottom{
  transition: all .3s;
}

.sts-header-sticky{
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  background-color: black;
}

.header-elements .ekit-menu-nav-link{
  position: relative;
}

.header-elements .ekit-menu-nav-link::before{
  position: absolute;
  content: '';
  height: 2px;
  background-color: #E3F401;
  width: 0;
  bottom: 0;
  left: 15px;
  transition: all .3s;
}

.header-elements .ekit-menu-nav-link:hover::before{
  width: 30px;
}

/* SLICK HOME PRINCIPAL */
.sts-slick-home{
  display: none;
}
.sts-slick-home__fig {
    margin: 0;
    position: relative;
    overflow: hidden;
    height: 100vh;
  }

  .sts-slick-home__fig::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    left: 0;
    top: 0;
    z-index: 1;
  }
  .sts-slick-home__img {
    width: 100%;
    height: 100% !important;
    object-fit: cover;
    animation: animateZoom 30s infinite ease-in-out;
  }
  .sts-slick-home__cap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    padding: 0 4em;
    z-index: 2;
  }
  .sts-slick-home__cap__title {
    color: white;
    font-size: 100px;
    font-family: "Avenir Next LT Pro", sans-serif;
    margin: 30px 0;
    font-weight: bold;
  }

  .sts-slick-home__cap__title span {
    display: block;
  }
  .sts-slick-home__cap__title__2 {
    color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #E3F401;
    position: relative;
    padding-bottom: 30px;
  }
  .sts-slick-home__cap__title__2::before {
    content: "";
    width: 50px;
    height: 3px;
    background: #E3F401;
    position: absolute;
    bottom: 0;
    left: calc( 50% - 25px);
  }
  .sts-slick-home__cap__desc {
    font-family: "Avenir Next LT Pro", sans-serif;
    color: white;
    font-size: 30px;
  }

  @media (max-width: 1290px){
    .sts-slick-home__cap__title{
      font-size: 60px;
    }

    .sts-slick-home__cap__desc {
      font-size: 25px;
    }
  }
  .sts-slick-home__cap__off {
    background-color: #86DE0B;
    font-size: 50px;
    font-weight: bold;
    display: inline-block;
    padding: 5px 20px;
    color: rgba(255, 255, 255, 0.9);
  }
  .sts-slick-home__cta {
    text-decoration: none;
    display: inline-block;
    background: #E3F401;
    padding: 1em 2em;
    color: black;
    font-weight: bold;
    letter-spacing: 1px;
    position: relative;
    margin: 0 5px;
    z-index: 3;
  }
  .sts-slick-home__cta__text {
    position: relative;
  }
  .sts-slick-home__cta::before {
    content: "";
    width: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.5s;
  }
  .sts-slick-home__cta.primary {
    background: #E3F401;
  }
  
  .sts-slick-home__cta.secondary {
    background: white;
  }

  .sts-slick-home__cta.primary:hover .sts-slick-home__cta__text, .sts-slick-home__cta.secondary:hover .sts-slick-home__cta__text {
    color: black !important;
  }

  .sts-slick-home__cta:hover::before {
    width: 100%;
  }
  .sts-slick-home .slick-dots {
    position: absolute;
    left: 20px;
    top: 0;
    margin: 0;
    height: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
  }
  .sts-slick-home .slick-dots li {
    list-style: none;
    width: 20px;
    height: 20px;
    border: 1px solid #E3F401;
    margin: 5px 10px;
    cursor: pointer;
  }
  .sts-slick-home .slick-dots li.slick-active {
    background-color: #E3F401;
  }
  .sts-slick-home .slick-dots li button {
    display: none;
  }
  .sts-slick-home__fig.content-right .sts-slick-home__cap {
    align-items: flex-end;
    padding: 3em;
  }
  .sts-slick-home__fig.content-right .sts-slick-home__cap__title {
    text-align: right;
  }
  .sts-slick-home__fig.content-right .sts-slick-home__cap__title__2::before {
    left: unset;
    right: 0;
  }
  .sts-slick-home__fig.content-right .sts-slick-home__cap__desc {
    text-align: right;
  }
  .sts-slick-home__fig.content-left .sts-slick-home__cap {
    align-items: flex-start;
    padding: 3em;
  }
  .sts-slick-home__fig.content-left .sts-slick-home__cap__title {
    text-align: left;
  }
  .sts-slick-home__fig.content-left .sts-slick-home__cap__title__2::before {
    left: 0;
  }
  .sts-slick-home__fig.content-left .sts-slick-home__cap__desc {
    text-align: left;
  }

  @media (min-width: 900px){
    .sts-slick-home__fig.content-left .sts-slick-home__cap, .sts-slick-home__fig.content-right .sts-slick-home__cap {
      width: 70%;
    }

    .sts-slick-home__fig.content-right .sts-slick-home__cap{
      left: unset !important;
      right: 0;
    }
  }

  @keyframes animateZoom {
      0%{ transform: scale(1) rotate(0deg); }
      50%{transform: scale(1.5) rotate(-10deg);}
      100%{ transform: scale(1) rotate(0deg); }
  }

/* CARD SERVICES */

.sts-row-services {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  box-sizing: border-box;
}
.sts-row-services .sts-col-services {
  box-sizing: border-box;
  width: calc( 100% / 3 );
  padding: 20px;
  max-width: 400px;
}

.sts-card-service {
  position: relative;
  width: 100%;
  display: block;
  font-family: "Avenir Next LT Pro", sans-serif;
  height: 420px;
}
.sts-card-service__fig {
  margin: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
}
.sts-card-service:hover .sts-card-service__fig {
  transform: rotateY(180deg);
}
.sts-card-service__front {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  color: black;
  background-image: url("https://images.unsplash.com/photo-1517838277536-f5f99be501cd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1950&q=80");
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  text-align: center;
  padding: 2em;
  box-sizing: border-box;
}
.sts-card-service__front::before {
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  position: absolute;
}
.sts-card-service__front__title {
  color: white;
  font-size: 30px;
  font-weight: bold;
  position: relative;
  line-height: 1.3em;
  margin: 0;
}
.sts-card-service__front__divider {
  background: #E3F401 !important;
  position: relative;
  height: 2px;
  width: 100%;
  border-color: #E3F401 !important;
  margin: 20px auto !important;
}
.sts-card-service__front__icon {
  position: relative;
}
.sts-card-service__back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: #151515;
  color: white;
  padding: 2em;
  box-sizing: border-box;
  border-radius: 20px;
  transform: rotateY(180deg);
}
.sts-card-service__back__title {
  font-size: 20px;
  text-align: center;
  line-height: 1.5em;
  font-weight: bold;
}
.sts-card-service__back__desc {
  font-weight: 500;
  line-height: 1.5em;
  opacity: 0.8;
}

/* Slick about home */
.sts-slick-home-about {
  position: relative;
}
.sts-slick-home-about__item__img {
  width: 100%;
  height: 500px !important;
  object-fit: cover;
}
.sts-slick-home-about .custom-arrow-2 {
  position: absolute;
  bottom: 10px;
  padding: 0px 10px;
  z-index: 1;
  background-color: transparent;
  border: none;
  font-family: "Avenir Next LT Pro", sans-serif;
  font-weight: bold;
  font-size: 12px;
  cursor: pointer;
  color: black;
  transition: all 0.3s;
}
.sts-slick-home-about .custom-arrow-2::before {
  content: "";
  position: absolute;
  top: 7px;
  width: 0px;
  height: 2px;
  background-color: black;
  transition: all 0.3s;
}
.sts-slick-home-about .custom-arrow-2.next-arrow {
  right: 40px;
}
.sts-slick-home-about .custom-arrow-2.next-arrow::before {
  right: -20px;
}
.sts-slick-home-about .custom-arrow-2.prev-arrow {
  right: 130px;
}
.sts-slick-home-about .custom-arrow-2.prev-arrow::before {
  left: -20px;
}
.sts-slick-home-about .custom-arrow-2:hover {
  opacity: 0.6;
}
.sts-slick-home-about .custom-arrow-2:hover::before {
  width: 20px;
}

.cont-slick-about {
  position: relative;
}
.cont-slick-about__box-nav {
  position: absolute;
  bottom: 0;
  background-color: white;
  width: 250px;
  height: 40px;
  right: 0;
  bottom: 0;
}

/* FOOTER */
.footer-elements p{
  margin: 0 !important;
}

.footer-elements a{
  color: #E3F401;
}

.footer-elements a:hover{
  color: #E3F401;
  opacity: .6;
}

/* Breadcrumbs */
.breadcrumbs{
  text-align: center;
}

.breadcrumbs i{
  font-size: 12px;
  margin: 0 10px;
}

/* Custom CF7 contact */
.sts-contact-form{
  position: relative;
  z-index: 2;
}

.sts-contact-form .sts-contact-form__box-input{
  margin-bottom: 10px;
}

.sts-contact-form .sts-contact-form__box-input .wpcf7-form-control{
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  border: 1px solid #C4C4C4;
  color: #C4C4C4;
  font-size: 13px;
}

.sts-contact-form .sts-contact-form__box-input .wpcf7-form-control:focus{
  border-color: #E3F401;
  color: white;
}

.sts-contact-form .sts-contact-form__box-input .wpcf7-form-control:focus::placeholder{
  color: #E3F401;
}

.sts-contact-form .sts-contact-form__box-input .wpcf7-form-control.wpcf7-acceptance{
  border: none;
  background: none;
}
.sts-contact-form .sts-contact-form__box-input .wpcf7-form-control.wpcf7-acceptance a{
  color: white;
}


.sts-contact-form .sts-contact-form__box-submit .wpcf7-form-control.wpcf7-submit{
  width: 100%;
  background: transparent;
  color: #E3F401;
  letter-spacing: 1px;
  border: 1px solid #E3F401;
  font-weight: bold;
  font-size: 13px;
}
.sts-contact-form .sts-contact-form__box-submit .wpcf7-form-control.wpcf7-submit:hover{
  background: #E3F401;
  color: black;
}

.sts-contact-form .sts-contact-form__box-input .wpcf7-list-item{
  margin: 0;
}

/* SLICK ABOUT COACH */
.sts-slider-about {
  position: relative;
  background: #1B1B1B;
  /* background-image: url("img/sts-trama.svg"); */
  background-size: 200px;
  background-repeat: no-repeat;
  background-position-y: 50px;
  padding: 2em;
  border-radius: 20px;
  box-sizing: border-box;
  height: 680px;
}

.sts-slick-about {
  position: relative;
}
.sts-slick-about .custom-arrow-about {
  position: absolute;
  bottom: 140px;
  display: inline-block;
  background-color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  z-index: 2;
  transition: all 0.3s;
  color: black;
}
.sts-slick-about .custom-arrow-about:hover {
  background-color: #E3F401;
}
.sts-slick-about .custom-arrow-about__prev {
  left: 0;
}
.sts-slick-about .custom-arrow-about__next {
  left: 60px;
}
.sts-slick-about .slick-list.draggable {
  overflow: inherit !important;
  overflow-x: hidden !important;
}
.sts-slick-about__item__cont__icon {
  text-align: center;
  margin: auto;
  width: 50px;
  display: block;
}
.sts-slick-about__item__cont__pos {
  text-align: center;
  color: #E3F401;
  font-size: 20px;
  line-height: 1em;
  margin: 10px 0;
  font-weight: bold;
}
.sts-slick-about__item__cont__name {
  text-align: center;
  color: white;
  font-size: 40px;
  letter-spacing: 0.1em;
  margin: 0;
  font-weight: bold;
}
.sts-slick-about__item__cont__row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  box-sizing: border-box;
  margin: 3em;
}
.sts-slick-about__item__cont__list {
  margin: 0;
  padding: 0;
  color: white;
  list-style: none;
  line-height: 1.7em;
  font-size: 20px;
  text-align: left;
}
.sts-slick-about__item__cont__list__item {
  display: flex;
  align-items: center;
}
.sts-slick-about__item__cont__list__icon {
  width: 25px;
  display: inline-block !important;
  margin-right: 10px;
}
.sts-slick-about__item__cont__additional {
  color: white;
  text-align: right;
  position: absolute;
  right: 0;
  bottom: 90px;
}
.sts-slick-about__item__cont__col {
  width: 50%;
  position: relative;
  padding: 0 20px;
}
.sts-slick-about__item__cont__col.col-2 {
  text-align: right;
  position: relative;
}
.sts-slick-about__item__cont__col.col-2 .sts-slick-about__item__cont__trama {
  position: absolute;
  top: -30px;
  left: 52px;
  z-index: -1;
}
.sts-slick-about__item__cont__col.col-2 .sts-slick-about__item__cont__trama img {
  width: 200px;
}
.sts-slick-about__item__cont__photo {
  margin-left: auto;
  border-radius: 10px !important;
  height: 530px !important;
  object-fit: cover;
}

@media (max-width: 579px) {
  .sts-slider-about {
    height: auto;
    background-position-x: -100px;
    background-position-y: 0;
    padding: 2em;
    margin-bottom: 50px;
  }

  .sts-slick-about .custom-arrow-about {
    bottom: -50px;
    -webkit-box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.24);
    box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.24);
  }
  .sts-slick-about__item__cont__row {
    flex-direction: column-reverse;
    margin: 1em;
  }
  .sts-slick-about__item__cont__col {
    width: 100%;
    text-align: center;
    padding: 0px;
  }
  .sts-slick-about__item__cont__photo {
    margin: auto;
    width: 100%;
    margin-bottom: 20px;
    height: auto !important;
  }
  .sts-slick-about__item__cont__pos {
    font-size: 15px;
  }
  .sts-slick-about__item__cont__name {
    font-size: 25px;
  }
  .sts-slick-about__item__cont__list {
    font-size: 18px;
    line-height: 2em;
    margin: 20px 0;
  }
  .sts-slick-about__item__cont__additional {
    position: relative;
    bottom: 0;
    text-align: center;
  }
}

/* CUSTOM ELEMENTOR */
.sts-title-with-arrow .elementor-widget-container{
  text-align: center;
}

.sts-title-with-arrow.left .elementor-widget-container{
  text-align: left;
}

.sts-title-with-arrow .elementor-widget-container .elementor-icon-box-wrapper{
  display: inline-flex !important;
}


/* STS BLOG */
.sts-blog-categories .sts-blog-categories__list{
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.sts-blog-categories .sts-blog-categories__list .sts-blog-categories__link{
  padding: .8em 2em;
  background-color: black;
  color: white;
  box-sizing: border-box;
  display: block;
}

.sts-blog-categories .sts-blog-categories__list .sts-blog-categories__link.active{
  background-color: #E3F401;
  color: black;
}

.sts-blog-categories .sts-blog-categories__list .sts-blog-categories__link:hover{
  color: #E3F401;
}

.sts-blog-categories .sts-blog-categories__list .sts-blog-categories__link.active:hover{
  color: black;
}

/* Grid Blog */
.sts-blog-section{
  margin: 4em 0;
}
.sts-blog-section .sts-blog-section__row{
  display: flex;
  flex-flow: row wrap;
}

.sts-blog-section .sts-blog-section__col{
  width: calc(100% / 3);
  box-sizing: border-box;
  padding: 10px 20px;
  display: none;
}

.sts-blog-section .sts-blog-section__item{
  background: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  overflow: hidden;
}

.sts-blog-section .sts-blog-section__item__img{
  height: 202px;
  width: 100%;
  object-fit: cover;
}

.sts-blog-section .sts-blog-section__item__cap{
  padding: 2em;
}

.sts-blog-section .sts-blog-section__item .sts-blog-section__item__date{
  font-size: 15px;
  text-transform: capitalize;
}

.sts-blog-section .sts-blog-section__item .sts-blog-section__item__title{
  font-size: 25px;
  font-weight: bold;
  transition: all .3s;
}

.sts-blog-section .sts-blog-section__item .sts-blog-section__item__title__link:hover .sts-blog-section__item__title{
  color: black;
  opacity: .6;
}

.sts-blog-section .sts-blog-section__item .sts-blog-section__item__desc{
  font-size: 18px;
}

.sts-blog-section .sts-blog-section__item .sts-blog-section__item__more{
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.1em;
  text-align: center;
  display: block;
  background-color: #E3F401;
  padding: 1.5em;
}

.sts-blog-section .sts-blog-section__item .sts-blog-section__item__more:hover{
  color: #E3F401;
  background-color: black;
}

.sts-blog-load-more{
  background-color: black;
  border-radius: 0px;
  margin: 2em 0;
  font-family: "Avenir Next LT Pro" !important;
  letter-spacing: 0.1em;
}

.sts-text-center{
  text-align: center;
}

/* Mobile select */
.sts-blog-categories .sts-blog-categories__form{
  display: none;
  padding: 20px;
  overflow: hidden;
}

.sts-blog-categories .sts-blog-categories__form .sts-blog-categories__select{
  width: 100%;
  background-color: black;
  color: #E3F401;
  font-size: 20px;
}

/* Single Blog */
.single-post .header-elements{
  position: relative !important;
}

.sidebar .widget h2{
  font-size: 25px;
  font-weight: bold;
}

.sidebar .widget .wp-block-latest-posts__list li{
  border-bottom: 1px solid rgb(218, 218, 218);
  padding-bottom: 1em;
}

.sidebar .widget_search{
  padding-bottom: 0px !important;
}

.sidebar .widget_search .wp-block-search__button, .sidebar .widget_search .wp-block-search__label{
  font-family: "Avenir Next LT Pro" !important;
}

.sidebar .widget_search .wp-block-search__button{
  background-color: black;
  color: white;
  border: none
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .sts-row-services .sts-col-services {
    width: 50%;
  }
}

@media (max-width: 991.98px){
  .sts-blog-section .sts-blog-section__col{
    width: 50%;
  }

  .sts-blog-section .sts-blog-section__item{
    margin-bottom: 1em;
  }
}

@media (max-width: 575.98px){
  .sts-blog-section{
    margin: 1em 0;
  }
  .sts-blog-categories .sts-blog-categories__list{
    display: none;
  }

  .sts-blog-categories .sts-blog-categories__form{
    display: block;
  }

  .sts-row-services {
    flex-direction: column;
  }
  .sts-row-services .sts-col-services {
    width: 100%;
  }

  .sts-slick-home__cap {
    padding: 2em !important;
  }
  .sts-slick-home__cap__title {
    font-size: 40px;
    margin: 10px 0;
    margin-top: 70px;
  }
  .sts-slick-home__cap__desc {
    font-size: 20px;
  }
  .sts-slick-home__cap__off {
    font-size: 20px;
  }
  .sts-slick-home__cta {
    display: block;
    margin-bottom: 10px;
  }
  .sts-slick-home__buttons {
    width: 100%;
  }
  .sts-slick-home .slick-dots {
    bottom: 20px;
    top: unset;
    height: auto;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    left: 0;
  }

  .sts-blog-section .sts-blog-section__col{
    width: 100%;
  }
}